.homercat{
  width: 360px; 
  margin-right: 50px; 
  margin-right: -332px; 
  margin-top: -107px;
}
.repocat, .andycat, .setuptocat{
  width: 360px; 
  margin-right: 50px;
}
.supportcat{
  width: 500px;  
}
